<mat-card class="mt-5 mb-5">
    <mat-card-header class="row">
        <div class="col">
            <mat-card-title>Personal</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </div>
        <div class="col text-end">
            <button mat-mini-fab color="accent" aria-label="Open register personal" (click)="openDialog('0ms', '0ms')">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <table class="col-12" mat-table [dataSource]="personal" matSort (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <th mat-cell *matCellDef="let element; let i=index">{{i+1}}</th>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <th mat-cell *matCellDef="let element">{{element.nombre}}</th>
            </ng-container>
            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido paterno</th>
                <th mat-cell *matCellDef="let element">{{element.apellidoP}}</th>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido materno</th>
                <th mat-cell *matCellDef="let element">{{element.apellidoM}}</th>
            </ng-container>
            <ng-container matColumnDef="birthday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de nacimiento</th>
                <th mat-cell *matCellDef="let element">{{element.fecNac}}</th>
            </ng-container>
            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sueldo</th>
                <th mat-cell *matCellDef="let element">{{element.sueldo}}</th>
            </ng-container>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</th>
                <th mat-cell *matCellDef="let element">{{element.puesto}}</th>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <th mat-cell *matCellDef="let element">Buttons</th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of personal elements">

        </mat-paginator>
    </mat-card-content>
</mat-card>
